<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">TREEK</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      {{!-- <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li> --}}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="far fa-user-circle"></i> User Management
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#"> User account</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Logout</a>
        </div>
      </li>
      {{!-- <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li> --}}
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>
</div>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#"></a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Laptop
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/laptops/phanloai/Asus" target="_blank">
            <p>Asus</p>
        </a>
        <a class="dropdown-item" href="/laptops/phanloai/Dell" target="_blank">
            <p>Dell</p>
        </a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Monitors
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/monitors/phanloai/Asus" target="_blank">
            <p>Asus</p>
        </a>
        <a class="dropdown-item" href="/monitors/phanloai/Dell" target="_blank">
            <p>Dell</p>
        </a>
        <a class="dropdown-item" href="/monitors/phanloai/MSI" target="_blank">
            <p>MSI</p>
        </a>
      </div>
    </li>

    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        PC
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/pcs/phanloai/Dell" target="_blank">
            <p>Dell</p>
        </a>
        <a class="dropdown-item" href="/pcs/phanloai/MSI" target="_blank">
            <p>MSI</p>
        </a>
      </div>
    </li>
  </ul>
</nav>