p.h4{
 color:red;   
}
hr{
    border-top:2px solid cornflowerblue;
}
.row > div[class*='col-'] {
    display: flex;
    flex:1 0 auto;
}
.price{
    color:red;
}
.menu ul li{
	list-style-type: none;
}

.detailsL {
	height: 100%;
	width: 100%;
}
.push_footer{
    min-height: calc(100vh - 40px);
}
.table{
	width:100%;
}
.menu ul{
	margin: 0px;
	padding:0px;
	list-style: none;
}
.menu ul li{
	float:left;
	width: 200px;
	height: 40px;
	background-color: black;
	opacity: .8;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
	color: white;
}
.menu ul li a{
	text-decoration: none;
	color: white;
	display:block;
}
.menu ul li a:hover{
	background-color: green;
}
.menu ul li ul li{
	display: none;
}
.menu ul li:hover ul li{
	display: block;
}
/* test-area */
